body{
    background-color: rgb(12, 3, 18);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

header {
    background-color: rgb(58, 18, 44);
}


header h1 {
    
    display: block;
    text-align: center;
    padding: 15px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.profileImg {
    margin: 20px;
    width: 200px;
    height: 200px;
}

nav {
    position: fixed;
    right: 0px;
    width: 80px;
    border: 3px solid #ffffff;
    padding: 10px;
    margin: 25px;
}

.navLinks {
    text-decoration: none;
    color: white;
  }

.navLinks:hover {
    text-decoration: underline;
    color: hotpink;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.about-container {
    display: flex;
    margin-right: 200px;
}

 .about-container p {
    display: flex;
    margin-left: 15;
    position: relative;
    top: 5;
} 



.mainContent h2 {
    display: flex;
    margin-left: 245;
}



.work-container {
    display: grid;
    flex-wrap: wrap;
    margin-left: 240;
    margin-right: 200;
}

.largePic {
    margin-bottom: 10px;
}

/* .fourPics {
   
} */
/* .rocketLeague {
    margin-right: 5;
}

.superMario {
    margin-left: 5;
}

.zelda {
    margin-right: 5;
    margin-top: 10;
}
  
.quake {
    margin-left: 5;
    margin-top: 10;
} */


.contactForm {
    display: flex;
    justify-content: center;
    margin: 20;
    align-items: flex-start;
}

.contactForm h2 {
  margin-top: 0;
  margin-right: 20;
    
}


footer {
    color: white;
    position: relative;
    left: 0;
    margin-top: 20px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}